<header class="header">
  <div class="titles">
    <h1 class="title">VBA</h1>
    <h2 class="sub-title">mobile</h2>
  </div>
  {{#if loggedIn}}
    <p class="username">{{username}}</p>
  {{else}}
  <a class="user w-inline-block" href="login">
    <img alt="user setting logo" class="user-logo" height="56" src="images/ic_account_box_white_24px.svg" width="56">
  </a>
  {{/if}}
</header>
<main class="content-wrapper">
  <div class="button-container">
    <a class="projects-button w-inline-block" href="#">
      <img alt="new project button logo" class="project-button-logo" height="56" src="images/addButtonBlue.svg" width="56">
      <div class="project-button-text">NEW
        <br>PROJECT</div>
    </a>
    <a class="projects-button w-inline-block" href="#">
      <img class="project-button-logo" height="56" src="images/clipboardBlue.svg" width="56">
      <div class="project-button-text">PROJECTS</div>
    </a>
  </div>
</main>