<main class="content-wrapper">
    <div class="form w-form">
      <form action="/survey/:id/species" class="survey-form" data-name="add taxon" data-redirect="/survey/:id/species" id="wf-form-add-taxon" method="post" name="wf-form-add-taxon" redirect="/survey/:id/species">
        <div class="form-inner-container">
          <h1 class="form-header">Add observation</h1>
          <label for="name">Species :</label>
          <input class="w-input" data-name="Name" id="name" maxlength="256" name="Name" placeholder="Search for species" type="text">
          <label for="Site-ID">Count :</label>
          <input class="w-input" data-name="Site ID" id="Site-ID" input="number" maxlength="256" name="Site-ID" placeholder="Total count" required="required" type="text">
          <label for="Type-of-record">Type of record :</label>
          <select class="w-select" data-name="Type of record" id="Type-of-record" name="Type-of-record" required="required">
            <option value="">Select ...</option>
            <option value="Observation">Observation</option>
            <option value="Birds australia nest record card">Birds australia nest record card</option>
            <option value="Captured">Captured</option>
            <option value="Captured and released">Captured and released</option>
            <option value="Heard">Heard</option>
            <option value="Identified from bat detector recording">Identified from bat detector recording</option>
            <option value="Identified from bat detector recording">Identified from hair or scats</option>
            <option value="Indirect evidence">Indirect evidence</option>
            <option value="Literature">Literature</option>
            <option value="Museum specimen">Museum specimen</option>
            <option value="Observation with supporting evidence">Observation with supporting evidence</option>
            <option value="Seen">Seen</option>
          </select>
          <label for="extra-information">Extra information :</label>
          <select class="w-select" id="extra-information" name="field">
            <option value="">Select ...</option>
            <option value="Beach washed">Beach washed</option>
            <option value="Breeding">Breeding</option>
            <option value="Carnivore bait">Carnivore bait</option>
            <option value="Cultivated">Cultivated</option>
            <option value="Escapee">Escapee</option>
            <option value="Evidence of past use">Evidence of past use</option>
            <option value="Found dead">Found dead</option>
            <option value="Herbivore bait">Herbivore bait</option>
            <option value="In predator scat">In predator scat</option>
            <option value="No longer present at site">No longer present at site</option>
            <option value="Released / Introduced">Released / Introduced</option>
            <option value="Roost site">Roost site</option>
            <option value="Sub fossil">Sub fossil</option>
            <option value="Voucher specimen">Voucher specimen</option>
          </select>
          <label>Location :</label>
          <div class="gps-button">
            <a class="buttons-size w-button" href="#">&#x1F3AF; &#xA0;Get location</a>
            <a class="buttons-size manual-location w-button" href="#">Enter location</a>
          </div>
          <label>Time :</label>
          <div class="time-buttons">
            <a class="buttons-size w-button" href="#">&#x23F0; &#xA0;Now</a>
            <a class="buttons-size manual-time w-button" href="#">Enter time</a>
          </div>
          <div class="form-button-center">
            <input class="form-button w-button" data-wait="Please wait..." type="submit" value="save">
            <input class="form-button incomplete-form w-button" data-wait="Please wait..." type="submit" value="complete form">
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
  </main>