<main class="content-wrapper">
    <div class="form w-form">
      <form action="/incobs" class="survey-form" data-name="add taxon" data-redirect="/incobs" id="wf-form-add-taxon" method="post" name="wf-form-add-taxon">
        <div class="form-inner-container">
          <h1 class="form-header">Add observation</h1>
          <label for="name">Species :</label>
          <input class="w-input" data-name="taxonId" id="taxonId" maxlength="256" name="taxonId" placeholder="Search for species" type="text">
          <label for="Site-ID">Count :</label>
          <input class="w-input" data-name="count" id="count" input="number" maxlength="256" name="count" placeholder="Total count" required="required" type="text">
          <label for="Type-of-record">Type of record :</label>
          <select class="w-select" data-name="Type of record" id="Type-of-record" name="typeCde" required="required">
            <option value="">Select ...</option>
            <option value="o">Observation</option>
            <option value="s">Seen</option>
            <option value="x">Observation with supporting evidence</option>
            <option value="i">Indirect evidence</option>
            <option value="cap">Captured</option>
            <option value="t">Captured and released</option>
            <option value="h">Heard</option>
            <option value="a">Identified from hair or scats</option>
            <option value="d">Identified from bat detector recording</option>
            <option value="l">Literature</option>
            <option value="n">Birds australia nest record card</option>
            <option value="m">Museum specimen</option>
          </select>
          <label for="extra-information">Extra information :</label>
          <select class="w-select" id="extra-information" name="extraInfo">
          <option value="">Select ...</option>
          <option value="w">Beach washed</option>
          <option value="b">Breeding</option>
          <option value="carni">Carnivore bait</option>
          <option value="cult">Cultivated</option>
          <option value="e">Escapee</option>
          <option value="past">Evidence of past use</option>
          <option value="k">Found dead</option>
          <option value="herbi">Herbivore bait</option>
          <option value="z">In predator scat</option>
          <option value="x">No longer present at site</option>
          <option value="r">Released / Introduced</option>
          <option value="c">Roost site</option>
          <option value="f">Sub fossil</option>
          <option value="v">Voucher specimen</option>
        </select>
          <label id="locationLabel">Location :</label>
          <label for="name">Location name :</label>
            <input class="w-input" data-name="locationName" id="name" maxlength="256" name="locNme" placeholder="Carlton garden south" type="text">
          <label for="desc">Location description :</label>
            <textarea class="w-input" data-name="locationDesc" id="desc" maxlength="256" name="locDesc" placeholder="Parks with fountains and artificial lakes" type="text"></textarea>
          <label for="name">Latitude :</label>
            <input class="w-input" data-name="Latitude" id="lat" maxlength="256" name="lat" placeholder="37.8100" type="text">
          <label for="name">Longitude :</label>
            <input class="w-input" data-name="Longitude" id="long" maxlength="256" name="long" placeholder="144.1234" type="text">
          <div class="gps-button">
            <a class="buttons-size w-button" href="#" id="getLocation" >&#x1F3AF; &#xA0;Get location</a>
            <!-- <a class="buttons-size manual-location w-button" href="#">Enter location</a> -->
          </div>
          <label id="timeLabel">Time :</label>
          <label for="name">Date :</label>
            <input class="w-input" data-name="Date" id="date" maxlength="256" name="date" placeholder="yyyy-mm-dd" type="text">
          <label for="name">Time :</label>
            <input class="w-input" data-name="Time" id="time" maxlength="256" name="time" placeholder="hhmm" type="text">
          <div class="time-buttons">
            <a id="time-button" class="buttons-size w-button" href="#">&#x23F0; &#xA0;Now</a>
            <!-- <a class="buttons-size manual-time w-button" href="#">Enter time</a> -->
          </div>
          <div class="form-button-center">
            <input class="form-button w-button" data-wait="Please wait..." type="submit" value="save">
          <!--   <input class="form-button incomplete-form w-button" data-wait="Please wait..." type="submit" value="complete form"> -->
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
  </main>