<main class="content-wrapper">
    <div class="form w-form">
      <form action="/survey/{{survey.id}}/method/{{method.id}}/taxonRecord" class="survey-form" data-name="Taxon"  id="email-form" method="post" name="email-form" redirect="/survey/:id/species">
        <div class="form-inner-container">
          <h1 class="form-header">Add taxon</h1>
          <label for="name">Taxon :</label>
          <input class="w-input" data-name="taxonId" id="taxonId" maxlength="256" name="taxonId" placeholder="Taxon Id" type="text">
          <label for="count">Count :</label>
          <input class="w-input" data-name="Count" id="count" input="number" maxlength="256" name="count" placeholder="Total count" required="required" type="number">
          <label for="Type-of-record">Type of record :</label>
          <select class="w-select" data-name="Type of record" id="Type-of-record" name="typeCde">
            <option value="n">Birds australia nest record card</option>
            <option value="cap">Captured</option>
            <option value="t">Captured and released</option>
            <option value="h">Heard</option>
            <option value="Identified from bat detector recording">Identified from bat detector recording</option>
            <option value="Identified from bat detector recording">Identified from hair or scats</option>
            <option value="Indirect evidence">Indirect evidence</option>
            <option value="Literature">Literature</option>
            <option value="Museum specimen">Museum specimen</option>
            <option value="Observation">Observation</option>
            <option value="Observation with supporting evidence">Observation with supporting evidence</option>
            <option value="Seen">Seen</option>
          </select>
          <label>Extra information :</label>
        </div>
        <select class="w-select" id="extra-information" name="extraInfo">
          <option value="w">Beach washed</option>
          <option value="b">Breeding</option>
          <option value="Carnivore bait">Carnivore bait</option>
          <option value="Cultivated">Cultivated</option>
          <option value="Escapee">Escapee</option>
          <option value="Evidence of past use">Evidence of past use</option>
          <option value="Found dead">Found dead</option>
          <option value="Herbivore bait">Herbivore bait</option>
          <option value="In predator scat">In predator scat</option>
          <option value="No longer present at site">No longer present at site</option>
          <option value="Released / Introduced">Released / Introduced</option>
          <option value="Roost site">Roost site</option>
          <option value="Sub fossil">Sub fossil</option>
          <option value="Voucher specimen">Voucher specimen</option>
        </select>
        <label for="Observer">Observer :</label>
        <select class="w-select" data-name="Observer" id="Observer" name="Observer">
          <option value="Myself">Myself</option>
        </select>
        <div class="form-button-center">
          <input class="form-button w-button" data-wait="Please wait..." type="submit" value="save">
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
  </main>