  <main class="content-wrapper">
    <div class="login-container">
      <h2 class="login-title">Log in to VBA mobile</h2>
      <div class="w-form">
        <form action="/login" class="login-form" data-name="Login Form" data-redirect="/" id="wf-form-Login-Form" method="post" name="wf-form-Login-Form">
          <label for="username-2">Username :</label>
          <input class="w-input" data-name="username" id="username-2" maxlength="256" name="username" placeholder="Enter your username" required="required" type="text">
          <label for="password">Password :&nbsp;</label>
          <input class="w-input" data-name="password" id="password" maxlength="256" name="password" placeholder="Enter your password" required="required" type="password">
          <input class="w-button" data-wait="Please wait..." type="submit" value="Log in">
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
      <div class="account-links">
        <a class="login-links" href="#">Forgotten account?</a>
        <div>·</div>
        <a class="login-links" href="#">Sign up for VBA</a>
      </div>
    </div>
  </main>
