<main class="content-wrapper">
  <div class="project-edit-form">
    <h1 class="form-header">New project</h1>
    <div class="w-form">
      <form action="/project" class="project-form" data-name="Email Form" data-redirect="/" id="email-form" method="post" name="email-form">
        <label for="name">Name:</label>
        <input class="w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Project name" type="text">
        <label for="Description-2">Description:</label>
        <textarea class="w-input" data-name="Description" id="Description-2" maxlength="5000" name="Description" placeholder="Describe the project..."></textarea>
        <div class="dates-selectors-container">
          <div class="date-selector-element w-embed">
            <label for="date">Start date:</label>
            <input class="w-input" type="date" name="startdate">
          </div>
          <div class="date-selector-element w-embed">
            <label for="date">End date:</label>
            <input class="w-input" type="date" name="enddate">
          </div>
        </div>
        <label for="Comment">Comment:</label>
        <textarea class="w-input" data-name="Comment" id="Comment" maxlength="5000" name="Comment" placeholder="Any comment ? "></textarea>
        <div class="w-checkbox">
          <input checked="checked" class="w-checkbox-input" data-name="Published ?" id="Published" name="Published" type="checkbox">
          <label class="w-form-label" for="Published">Published</label>
        </div>
        <div class="form-button-center">
          <input class="project-save-button w-button" data-wait="Please wait..." type="submit" value="Save">
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
  </div>
</main>
