<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>events</title>
</head>
<body>
	<div style="background-color:blue; width:100px; height:100px " id="outer">
			<div style="background-color:red; width:50px; height:50px" id="inner"></div>
	</div>
</body>
<script>
	const outer = document.getElementById('outer');
	const inner = document.getElementById('inner');

	document.addEventListener('click', (e) => {
		console.log('doc triggerd')
	});

	outer.addEventListener('click', (e) => {
		console.log('outer triggerd')
	});

	inner.addEventListener('click', (e) => {
		console.log('inner triggerd')
	});

</script>
</html>