<main class="content-wrapper">
    <div class="button-container">
      <!-- <a class="project-button w-button" href="/project">+&#xA0;New Project</a> -->
      <a class="project-button w-button" href="/projects">View my Project</a>
    </div>
  </main>